@inherits LayoutComponentBase

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@

    <div class="main">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand">⛩ Komen ⛩</a>
            <Metamask />
        </nav>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
