@using Nethereum.UI
@inject IEthereumHostProvider _metamaskHostProvider;
@inject NethereumAuthenticator  _nethereumAuthenticator;

<div>
    @if (MetamaskAvailable && !string.IsNullOrEmpty(SelectedAccount))
    {
        <small>@SelectedAccount</small>
    }

    @if (MetamaskAvailable && string.IsNullOrEmpty(SelectedAccount))
    {
        <button type="button" class="btn btn-outline-light text-dark" style="background-image: linear-gradient(45deg,#fff4,#fff8)" @onclick="@EnableEthereumAsync"><img src="/_content/Nethereum.Metamask.Blazor/img/metamask-fox.svg" width="25"/> Connect Metamask</button>
    }

    @if (!MetamaskAvailable)
    {
        <button class="btn btn-light" disabled> <img src="/_content/Nethereum.Metamask.Blazor/img/metamask-fox.svg" width="25"/> Please Install Metamask</button>
    }

</div>

@code {

    bool MetamaskAvailable { get; set; }
    string SelectedAccount { get; set; }
    protected string AuthenticatedAccount { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _metamaskHostProvider.SelectedAccountChanged += MetamaskHostProvider_SelectedAccountChanged;
            MetamaskAvailable = await _metamaskHostProvider.CheckProviderAvailabilityAsync();

            StateHasChanged();
        }
    }

    private async Task MetamaskHostProvider_SelectedAccountChanged(string account)
    {
        SelectedAccount = account;
        this.StateHasChanged();
    }

    protected async Task EnableEthereumAsync()
    {
        SelectedAccount = await _metamaskHostProvider.EnableProviderAsync();
    }

    public async Task AuthenticateAsync()
    {
        AuthenticatedAccount = await _nethereumAuthenticator.RequestNewChallengeSignatureAndRecoverAccountAsync();
    }
}
